$primary_color:blue;
$back_img:url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-padrinan-255379.jpg&fm=jpg');

$rectangle_width:30%;
$rectangle_color:#f0f0f0;
$rectangle_border:1px solid #ccc;
$rectangle_border-radius:8px;
$rectangle_box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
$rectangle_overflow:hidden;


$img_width:100%; 
$img_height:auto; 

$content_padding:15px; 


