
.custom-btn {
    border: none;
        padding: 10px 20px;
        border-radius: 5px; 
        cursor: pointer;
    &--green {
        background-color:$color-green;
        color: white; 
        &:hover {
            background-color: white; 
            color: $color-green; 
        }
    }
    &--blank{
        color: $color-green; 
        background-color: white;

        &:hover {
            background-color: darken($color-green, 10%); 
            color: #f0f0f0; 
        }
    }
}
